.canvas{
    margin  : auto;
    width   : 800px;
    height  : 500px;
    background  : #000000;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 55% 45%;
}

.gamen{
    width: 350px;
    height: 200px;
    background-color: #9a97ac;
    border-radius: 15px;
    grid-column: 1 / 7;
    grid-row:1 / 2;
}

.playsrightnormal{
    width: 40px;
    height: 50px;
    background-color: #9a97ac;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    grid-column: 4 / 5;
    grid-row:2 / 3;
}

.playsleftnormal{
    width: 40px;
    height: 50px;
    background-color: #9a97ac;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
   grid-column: 2 / 3;
    grid-row:2 / 3;
}

.playsleftnormal button,
.playsrightnormal button{
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.playmetro{
    width: 50px;
    height: 50px;
    background-color: #9a97ac;
    border-radius: 50%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.playmetro button{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}